*.iml
*.jazzignore
*.log
*.swp
.project
.idea/
.vscode/
/com.siemens.bt.jazz.viewlet.printableworkitems*.zip
deployment-properties.ini
dist/
build/*.js
jbe-build-wrapper.xml
node_modules/
resouces/jazzUtilities/modules/build/*.js
.classpath
