/* IDs */
.absences-table-container {
    position: absolute;
}

#about {
    float: right;
}

.namesBar {
    position: absolute;
    left:0px;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    z-index: 999;
}

.contentPane {
    overflow:auto;
    height: 300px;
    position: relative;
}

/* Classes */


.myTeam{
    padding: 2px 4px 2px 3px;
    display: flow-root;
}

.pseudoButton{
    color: black;
    border-left: black solid 1px;
    padding: .1em .2em;

}
.pseudoButton:hover{
    color: black;
    background-color: #abd6ff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    cursor: pointer;
}

.breaker {
    background-color: WhiteSmoke;
    font-weight: bold;
}


.teamIcon {
    background-image: url("../images/teamarea_obj.gif");
    height: 16px;
    width: 16px;
}

.projectIcon {
    background-image: url("../images/projectarea_obj.gif");
    height: 16px;
    width: 16px;
}

.right {
    overflow: auto;
}

.roles{
    color: #999999;

    float: right;
}

.topMenu {
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    top: 0px;
    left:0px;
    width: 100%;
    height: 17px;

}

.menuBar {
    max-height: 20px;
}

.cornerMenu {
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    top: 0px;
    left:0px;
    width: 99%;
    height: 20px;
    border-bottom: 1px solid white;
}

.cMenuContent{
    background-image: url("../images/teamarea_obj.gif");
    background-color: gray;
    width: 20px;
    height: 20px;
}

table.workitemTable {
	border-collapse: collapse;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

table.workitemTable.border {
	border: 1px solid black;
}

.workitemTable td {
	width: 15px;
	height: 15px;
	border-collapse: collapse;
	display: table-cell;
	text-align: center;
}

/* New CSS Values for GUI */

/* Force the Browser to render the background-color when printing */
.workitemTable {
	-webkit-print-color-adjust: exact !important;	/* Chrome, Safari */
	color-adjust: exact !important;					/* Firefox */
}

.workitemTable td .textHolder {
	overflow: visible;
	width: 15px;
	height: 15px;
}

/* Only active if the editor is used */
.configuratorUI.preview .workitemTable td .textHolder {
	/*Remove all the Events, which are thrown by the pointer*/
	pointer-events: none;
}

.workitemTable td .textHolder .textContainer {
	color: white;
	text-align: left;
	overflow: hidden;
	overflow-wrap: break-word;
	display: list-item;
}

.workitemTable td .textHolder .textContainer .textDisplay {
	line-height: 1;
	display: inline-block;
}

.workitemTable td .textHolder .textContainer .textDisplay a {
	text-decoration: underline;
	color: inherit;
	font-weight: bold;
}

table.configuratorUI {
	width: 100%;
}

.rightPosition {
	float: right;
}

.fullWidth{
	width: 100%;
}

.configuratorUI.body table.regionDataUI {
	table-layout: fixed ;
}

.configuratorUI.preview table {
	cursor: pointer;
}

.configuratorUI.preview td.backgroundYellow {
	filter: invert(100%);
	background-color: white;
}

.configuratorUI.preview td.firstSelectedID {
	background-color: white;
	filter: invert(100%);
}

.configuratorUI.preview table td {
	border: 1px solid red;
}

table.configuratorUI.solidBlackBorder > tr > td {
	border: 1px solid black;
	border-collapse: collapse;
}

table.configuratorUI.regionDataUI input[disabled] {
	cursor: not-allowed;
}

.swal-footer {
	background-color: rgb(245, 248, 250);
	margin-top: 32px;
	border-top: 1px solid #E9EEF1;
	overflow: hidden;
  }

.trim-save-button {
	display: inline-block;
	max-width: 16px;
	height: 16px;
	vertical-align: middle;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.queryElement {
	width: 100%;
}

.queryElement:hover {
	cursor: pointer;
	background-color: #dddddd;
	border: 1px solid black;
}

.queryElement > input[type="checkbox"] {
	cursor: pointer;
}

.swal-modal > .swal-content > table > tr.planModeSelectOption:hover {
	background: #e9e9e9;
}
